body{
    background-color: black;
    margin-right: 0;
    margin-left: 0;
}
.whole{
    margin-top: 50px;
    background-color: white;
}
.header{
    background-color: #33b5e5;
    border-top: 2px solid white;
}
.htext{
    display: flex;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav.htext li{
    display: inline-block;
}
li.l-1{
    border-right: 1px solid white;
    text-decoration: none;
    color: #fff;
    padding: 17px 50px;
}
li.l4 {
    text-decoration: none;
    color: #fff;
    padding: 17px 50px;
    position:relative;
}
#btn{
    padding: 5px;
    margin-left: 5px;
}
@media screen and (max-width: 600px){
.htext{
    flex-wrap: wrap
}
    .l1{
        width: 100%;
        order: 1;

    }
    .l2{
        width: 100%;
        order: 2;
        border-top: 2px solid white;
    }
    .l3{
        width: 100%;
        order: 3;
        border-top: 2px solid white;
    }
    .l4{
        width: 100%;
        order: 4;
        border-top: 2px solid white;
    }
}